.section-welcome {
  height: 930px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: left;

  .title {
    h1 {
      color: #fff;
      font-family: 'Fredoka One', cursive;
      font-size: 58px;

      text-shadow:  0 4px 3px rgba(0,0,0,0.4),
                    0 8px 13px rgba(0,0,0,0.1),
                    0 18px 23px rgba(0,0,0,0.1);

      span {
        display: block;

        color: #519259;
        font-size: 53px;
      }
    }
  }

  .subtitle {
    color: #fff;
    font-size: 27px;
  }
}