.section-about {
  padding: 50px 0;
  background-color: #03241C;
  text-align: center;

  h2 {
    margin-bottom: 50px;

    font-family: 'Fredoka One', cursive;
    color: #fff;
    font-size: 40px;
  }

  .para {
    width: 100%;

    position: relative;
    padding: 30px;
    margin-bottom: 20px;

    background: rgba(189, 195, 199, 0.1);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(189, 195, 199, 0.1), rgba(44, 62, 80, 0.1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(189, 195, 199, 0.1), rgba(44, 62, 80, 0.1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .img {
      display: flex;
      align-items: center;

      img {
        max-height: 325px;

        border-radius: 50%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: left;

      h3 {
        margin-bottom: 10px;
        color: #519259;
        font-size: 22px;
        font-weight: 700;
        text-shadow: #000 1px 0 5px;
      }

      p {
        font-size: 20px;
        color: #BFBFBF;

        b {
          font-weight: 400;
          color: #fff;
        }
      }
    }
  }

  .para-left {
    background: rgba(189, 195, 199, 0.1);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgba(44, 62, 80, 0.1), rgba(189, 195, 199, 0.1));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgba(44, 62, 80, 0.1), rgba(189, 195, 199, 0.1)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}