.header-btn {
  display: flex;
  align-items: center;


  #nav-login-btn {
    @media screen and (max-width: 500px) {
      display: none;
    }
  }

  .me-btn {
    height: 28px; width: 28px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

    border-radius: 50%;
    border: none;

    &:hover {
      box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    }
  }
}
