.navbar-content {
  max-width: max-content;

  color: #fff;

  .navbar-nav {
    .nav-item {
      margin: 5px;

      @media screen and (max-width: 768px) {
        margin: 0;
      }

      .nav-link {
        color: #fff;
        font-size: 18px;

        &:hover {
          color: #519259;
        }
      }
    }
  }
}